.Disclaimer {
    width: 100%;
    min-height: 100px;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    font-size: 20pt;
    justify-content: center;
    align-items: center;
}